<noscript>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header" ng-init="showConnectedUserList = false">
        <span class="navbar-brand">Shared Metronome</span>
      </div> <!-- .navbar-header -->
    </div>
  </nav>

  <div class="container-fluid">
    <h1>This page requires javascript</h1>
    <p>Please turn on javascript in order to use this page.</p>
  </div>
</noscript>

