<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script src="/js/socket.io.js"></script>
  <style type="text/css">
    label, span { width: 9em; }
  </style>
</head>

<body>
  <p>
    <label>Client time:</label>
    <span id="clientTime"></span>
  </p>

  <p>
    <label>Average drift:</label>
    <span id="averageDrift"></span>
  </p>

  <p>
    <label>Server time:</label>
    <span id="serverTime"></span>
  </p>

  <script>
    var getTimer = function() {
      var obj = {
        samples:   [],
        websocket: null,

        // Public methods
        getAverageDrift: function()
        {
          if (obj.samples.length < 1) return 0;
          if (obj.samples.length == 1) return obj.samples.slice(0, 1);
          var totalDrift = obj.samples.reduce(function(a, b) { return a + b; });
          return totalDrift / obj.samples.length;
        },

        // Private methods
        _setup: function()
        {
          // Set up timer
          function updateDrift()
          {
            $.ajax({
              url: '/time',
              success: function(data) {
                var serverTime = parseFloat(data);
                if (!serverTime) return;
                var clientTime = (new Date).getTime();
                var drift      = clientTime - serverTime;
                obj.samples.push(drift);

                setTimeout(updateDrift, 300);
              }
            });
          }
          updateDrift();

          return obj;
        }
      };

      return obj._setup();
    };

    function setUpMetronome()
    {
      var timer    = getTimer();
      window.timer = timer;

      setInterval(function () {
        var clientTime   = (new Date).getTime();
        var averageDrift = timer.getAverageDrift();
        var serverTime   = clientTime - averageDrift;
        $('#clientTime').html(clientTime);
        $('#averageDrift').html(averageDrift);
        $('#serverTime').html(serverTime);

        // If we're the first half of the second, background black, otherwise white
        if (serverTime % 1000 < 500)
        {
          $('body').css('background-color', '#ddd');
        } else {
          $('body').css('background-color', '#fff');
        }
      }, 17);
    }

    // Orchestrate all this stuff on page load
    $(document).ready(function() {
      setUpMetronome();
    });
  </script>
</body>

</html>

