<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <style type="text/css">
    label, span { width: 9em; }
    #count { font-size: 72pt; }
    #beat { font-size: 800%; }
    th, td { width: 200px; border: 1px solid #ddd;}
  </style>
</head>

<body>
  <%#
    <embed id="a880" src="/sounds/a_880.mp3" autostart=false width=44 height=44 enablejavascript="true" />
    <embed id="a440" src="/sounds/a_440.mp3" autostart=false width=44 height=44 enablejavascript="true" />
  %>

  <table>
    <tr>
      <th></th>
      <th>Time</th>
      <th>Offset</th>
    </tr>
    <tr>
      <td>Server</td>
      <td id="server-time"></td>
      <td id="server-reported-offset"></td>
    </tr>
    <tr>
      <td>Client</td>
      <td id="client-time"></td>
      <td id="client-calculated-offset"></td>
    </tr>
  </table>

  <p>
    <label>Offset:</label>
    <span id="offset"></span>
  </p>

  <p>
    <label>Beat:</label>
    <span id="beat"></span>
  </p>

  <p><button id="sync">Sync</button></p>

  <script>
    // Retrieve these from the server
    var tempo           = 66.0; // beats per minute
    var beatsPerMeasure = 4;
    var startTime       = <%= Time.parse('2014-01-01 12:00:00 UTC').to_f.to_s %> // in UTC with milliseconds

    // Orchestrate all this stuff on page load
    var offset = null;
    function setUp() {
      // Set up the offset
      var requestStartTime = (new Date).getTime() / 1000.0;
      var uri = "ws://" + window.document.location.host + "/time";
      window.ws = new WebSocket(uri);
      window.ws.onopen = function() {
        var requestStartTime = (new Date).getTime() / 1000.0;
        ws.send(requestStartTime);
      };
      window.ws.onmessage = function(message) {
        data = $.parseJSON(message.data);
        var serverReportedOffset   = data.offset;
        var requestEndTime         = (new Date).getTime() / 1000.0;
        var clientCalculatedOffset = data.time - requestEndTime;
        offset = (serverReportedOffset + clientCalculatedOffset) / 2;
        $('#server-reported-offset').text(serverReportedOffset);
        $('#client-calculated-offset').text(clientCalculatedOffset);
        $('#offset').text(offset);
      };
    }

    // Display changing serverTime to the user
    function getServerTime() {
      return (new Date).getTime() / 1000.0 + offset;
    };
    setInterval(function() {
      if (!offset) return;
      $('#client-time').text((new Date).getTime() / 1000.0);
      $('#server-time').text(getServerTime(offset));
    }, 30);

    // Display beat to the user
    function getBeatsSinceStart() {
      var timeDiffInSeconds = getServerTime() - startTime;
      // how many beats in timeDiffInSeconds:
      // ====================================
      // n seconds   1 minute     96 beats   m beats
      //           * --------   * -------- = 
      //             60 seconds   1 minute
      var beats = timeDiffInSeconds / 60.0 * tempo;
      return beats;
    };
    function getBeat() {
      return Math.round(getBeatsSinceStart()) % beatsPerMeasure + 1;
    };
    setInterval(function() {
      if (!offset) return;

      var beat = getBeat();
      $('#beat').text(beat);

      // Change background
      switch(beat) {
        case 1:
          $('body').css({ backgroundColor: 'red' });
          break;
        case 2:
          $('body').css({ backgroundColor: 'orange' });
          break;
        case 3:
          $('body').css({ backgroundColor: 'yellow' });
          break;
        case 4:
          $('body').css({ backgroundColor: 'white' });
          break;
      }
    }, 30);

    $(document).ready(setUp);
    $(document).ready(function() {
      // Set up sync button
      $('#sync').on('click tap', setUp);
    });
  </script>
</body>

</html>

