<html ng-app="metronome">

<head>
  <link type="text/css" rel="stylesheet" href="/css/pages.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="/js/angular-app.js"></script>
  <script src="/js/app.js"></script>
</head>

<body id="index-page" ng-controller="IndexController">
  <table>
    <tr>
      <th></th>
      <th>Time</th>
      <th>Offset</th>
    </tr>
    <tr>
      <td>Server</td>
      <td id="server-time"></td>
      <td id="server-reported-offset"></td>
    </tr>
    <tr>
      <td>Client</td>
      <td id="client-time"></td>
      <td id="client-calculated-offset"></td>
    </tr>
  </table>

  <p>
    <label>Offset:</label>
    <span id="offset"></span>
  </p>

  <p>
    <label>Beat:</label>
    <span id="beat"></span>
  </p>

  <p>
    <button id="sync">Sync</button>
    <button id="play">Play</button>
  </p>
</body>

</html>

