<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <style type="text/css">
    label, span { width: 9em; }
    #count { font-size: 72pt; }
    #beat { font-size: 800%; }
  </style>
</head>

<body>
  <%#
    <embed id="a880" src="/sounds/a_880.mp3" autostart=false width=44 height=44 enablejavascript="true" />
    <embed id="a440" src="/sounds/a_440.mp3" autostart=false width=44 height=44 enablejavascript="true" />
  %>

  <p>
    <label>Offset:</label>
    <span id="offset"></span>
  </p>

  <p>
    <label>Server time:</label>
    <span id="serverTime"></span>
  </p>

  <p>
    <label>Beat:</label>
    <span id="beat"></span>
  </p>

  <script>
    // Orchestrate all this stuff on page load
    $(document).ready(function() {
      // Retrieve these from the server
      var tempo           = 66.0; // beats per minute
      var beatsPerMeasure = 4;
      var startTime       = <%= Time.parse('2014-01-01 12:00:00 UTC').to_f.to_s %> // in UTC with milliseconds

      // Set up the offset
      var offset = 0.0;
      var requestStartTime = (new Date).getTime() / 1000.0;
      $.ajax({ url: '/time' })
        .done(function(data) {
          var serverTime        = parseFloat(data);
          var responseEndTime   = (new Date).getTime() / 1000.0;
          var responseStartTime = (responseEndTime + requestStartTime) / 2.0;
          offset                = responseStartTime - serverTime;
        })
        .then(function() { 
          $('#offset').text(offset);
        })
        .then(function() {
          // Display changing serverTime to the user
          function getServerTime() {
            return (new Date).getTime() / 1000.0 + offset;
          };
          setInterval(function() {
            $('#serverTime').text(getServerTime(offset));
          }, 30);

          // Display beat to the user
          function getBeatsSinceStart() {
            var timeDiffInSeconds = getServerTime() - startTime;
            // how many beats in timeDiffInSeconds:
            // ====================================
            // n seconds   1 minute     96 beats   m beats
            //           * --------   * -------- = 
            //             60 seconds   1 minute
            var beats = timeDiffInSeconds / 60.0 * tempo;
            return beats;
          };
          function getBeat() {
            return Math.round(getBeatsSinceStart()) % beatsPerMeasure + 1;
          };
          setInterval(function() {
            var beat = getBeat();
            $('#beat').text(beat);

            // Change background
            switch(beat) {
              case 1:
                $('body').css({ backgroundColor: 'red' });
                break;
              case 2:
                $('body').css({ backgroundColor: 'orange' });
                break;
              case 3:
                $('body').css({ backgroundColor: 'yellow' });
                break;
              case 4:
                $('body').css({ backgroundColor: 'white' });
                break;
            }
          }, 30);
        })
        ;
    });
  </script>
</body>

</html>

