<div ng-controller="IndexController">
  <h1>Create a metronome</h1>

  <div>
    <label>What should we call your metronome?</label>
    <input type="text" placeholder="john-smith" ng-model="slug" autofocus>
  </div>

  <p ng-show="!!slug">
    Your metronome is located at <a href="{{url()}}">{{url()}}</a>
  </p>
</div>

