<p>
  You have been invited to participate in a shared metronome entitled
  "<%= title %>". Click on the link below to access the shared metronome.
</p>

<p>
  <a href="<%= url %>"><%= url %></a>
</p>

<p>
  Note: this is your own personal link to the shared metronome--do not share it
  with anyone. Instead, have the metronome owner go to "Manage Sharing" and
  invite each user separately.
</p>

