<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shared Metronome</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="container">
  <div id="not-found-page">
    <h2>404: Page Not Found</h2>
    <p>Please check your link again.</p>
  </div>
</div> <!-- .container -->

