<html ng-app="metronome">

<head>
  <link type="text/css" rel="stylesheet" href="/css/pages.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="/js/angular-app.js"></script>
</head>

<body id="show-page" ng-controller="ShowController" class="{{beatDisplayClass}}">
  <p>
    <label>Tempo:</label>
    <select ng-model="beatsPerMinute" id="beatsPerMinute">
      <option ng-repeat="option in tempoOptions" value="{{option}}" selected="{{option == beatsPerMinute}}">{{option}}</option>
    </select> beats/minute
  </p>

  <p>
    <label>Beats per measure:</label>
    <span>{{beatsPerMeasure}}</span>
  </p>

  <p>
    <label>Tempo last set at:</label>
    <span>{{startTime}}</span>
  </p>

  <p>
    <label>Offset:</label>
    <span>{{offset}}</span>
  </p>

  <p>
    <label>Beat:</label>
    <span id="beat">{{beat}}</span>
  </p>
</body>

</html>

