<div id="show-page" ng-controller="ShowController" class="{{beatDisplayClass}}">
  <div ng-show="offset">
    <p>
      <label>Beats per measure:</label>
      <span>{{beatsPerMeasure}}</span>
    </p>

    <p>
      <label>Tempo last set at:</label>
      <span>{{startTime}}</span>
    </p>

    <p>
      <label>Offset:</label>
      <span>{{offset}}</span>
    </p>

    <p>
      <label>Beat:</label>
      <span id="beat">{{beat}}</span>
    </p>

    <div id="tap-control">
      <div class="tempo">{{beatsPerMinute | number:1}}</div>
      <a href="#" id="tap-button" onclick="event.preventDefault();">Tap</a>
    </div>
  </div> <!-- ng-show="offset" -->

  <div ng-hide="offset">
    Loading...
  </div>
</div>

