<div id="show-page" ng-controller="ShowController">
  <div ng-show="offset">
    <p>
      <select ng-model="beatsPerMeasure">
        <option value="4">4/4</option>
        <option value="3">3/4</option>
      </select>
      <select ng-model="key">
        <option value="c">C</option>
        <option value="c#">C&#9839;</option>
        <option value="d">D</option>
        <option value="eb">E&#9837;</option>
        <option value="e">E</option>
        <option value="f">F</option>
        <option value="f#">F&#9839;</option>
        <option value="g">G</option>
        <option value="ab">A&#9837;</option>
        <option value="a">A</option>
        <option value="bb">B&#9837;</option>
        <option value="b">B</option>
      </select>
    </p>

    <div id="tap-wrapper" class="{{beatDisplayClass}}">
      <div id="tap-control">
        <div class="tempo">{{beatsPerMinute | number:1}}</div>
        <a href="#" id="tap-button" onclick="event.preventDefault();">Tap</a>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="arcs">
        <circle cx="165" cy="165" r="150" stroke="black" stroke-width="15" fill="none" />
        <path class="arc beat-1-4" fill="none" stroke="#16a6b6" d="M165,15  A150,150 0 0,1 315,165" stroke-width="15"></path>
        <path class="arc beat-2-4" fill="none" stroke="#16a6b6" d="M315,165 A150,150 0 0,1 165,315" stroke-width="15"></path>
        <path class="arc beat-3-4" fill="none" stroke="#16a6b6" d="M165,315 A150,150 0 0,1 15,165"  stroke-width="15"></path>
        <path class="arc beat-4-4" fill="none" stroke="#16a6b6" d="M15,165  A150,150 0 0,1 165,15"  stroke-width="15"></path>
     </svg>
    </div>
  </div> <!-- ng-show="offset" -->

  <div ng-hide="offset">
    Loading...
  </div>
</div>

