/***
 * Index page (/)
 ***/

/* Nothing to see here. Move along. */


/***
 * Show page (/:slug)
 ***/

#show-page label,
#show-page span {
  width: 9em;
}

#show-page #count {
  font-size: 72pt;
}

#show-page #beat {
  font-size: 800%;
}

#show-page th,
#show-page td {
  width: 200px; border: 1px solid #ddd;
}

#show-page.beat-1 { background-color: red;    }
#show-page.beat-2 { background-color: orange; }
#show-page.beat-3 { background-color: yellow; }
#show-page.beat-4 { background-color: white;  }

